<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="eventForm">
        <form [formGroup]="eventForm">
            <ng-template matStepLabel>Event description</ng-template>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-button (click)="createEvent()">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="eventLocationForm">
        <form [formGroup]="eventLocationForm">
            <ng-template matStepLabel>Event location</ng-template>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                            <textarea matInput formControlName="country"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <textarea matInput formControlName="city"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Street</mat-label>
                            <textarea matInput formControlName="street"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Building</mat-label>
                            <textarea matInput formControlName="building"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Longitude</mat-label>
                            <textarea matInput formControlName="longitude"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Latitude</mat-label>
                            <textarea matInput formControlName="latitude"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Comment</mat-label>
                            <textarea matInput formControlName="comment"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button (click)="addLocation()">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="eventTimeForm">
        <form [formGroup]="eventTimeForm">
            <ng-template matStepLabel>Event time</ng-template>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>From</mat-label>
                            <input matInput [matDatepicker]="fromDatepicker" formControlName="from">
                            <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #fromDatepicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>To</mat-label>
                            <input matInput [matDatepicker]="toDatepicker" formControlName="to">
                            <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #toDatepicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button (click)="addTime()">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="confirmEvent()">Done</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
