<div>
    <div>
        <button mat-raised-button routerLink="auth/sign-in">Sign In</button>
    </div>
    <div>
        <button mat-raised-button routerLink="auth/sign-up">Sign Up</button>
    </div>
</div>
