<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                 [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset | async) ? 'over' : 'side'"
                 [opened]="!(isHandset | async)">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <button mat-button routerLink="/events/new" (click)="close()">New event</button>
            <a mat-list-item routerLink="/dashboard" (click)="close()">Dashboard</a>
            <a mat-list-item routerLink="/events" (click)="close()">Events</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="d-flex align-items-center justify-content-between flex-row px-1 w-100">
                <span>
                    <button mat-icon-button *ngIf="drawer.mode === 'over'" (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </span>
                <button mat-icon-button (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <div class="container pt-2">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
