<div [formGroup]="loginForm">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email">
            <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button (click)="login()">Sign In</button>
    </div>
</div>
