<div class="row">
    <div class="col-12">
        <table mat-table [dataSource]="eventQuery?.selectAll()" class="w-100">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['id', 'name', 'description']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'description'];"></tr>
        </table>
    </div>
</div>
